@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');


body{
    margin:0;
    display: flex;
}
.txt{
    background-color: #201B2D;
    color: white;
    height: 100vh;
    width: 576px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Dongle', sans-serif;
}



